/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-letra: #464646;
    --cor-de-fondo-celeste: #EAF2FD;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

* {
    color: var(--cor-de-letra);
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

ul {
    padding-left: 0px;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.menu__header {
    display: flex;
}

.menu__header img {
    margin: auto;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.menu__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

.menu__list {
    display: flex;
}

.menu__list__item {
    margin-right: 20px;
    line-height: 19px;
    font-weight: 500;
}

.menu__list__item:last-child {
    font-weight: bold;
}

.menu__list__item__contato {
    display: none;
}

/*Sección Title*/

.title__div {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1024px;
    margin: auto;
    align-items: center;
    padding: 50px;
}

.title__profile {
    width: 360px;
    height: 360px;
    border-radius: 200px;
}

.title__bio {
    font-size: 52px;
    font-weight: 700;
    line-height: 61px;
}

.title__subsection {
    font-size: 22px;
}

.title__network {
    display: flex;
    padding: 0px;
    align-items: flex-end;
}

.title__network img {
    width: 16px;
    margin: autp;
}

.title__network__item {
    margin-right: 20px;
    font-size: 16px;
}

/*Sección About*/

.about {
    background-color: var(--cor-de-fondo-celeste);
    padding-top: 20px;
    padding-bottom: 20px;
}

.about__container {
    max-width: 1024px;
    margin: auto;
}

.about__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
}

.about__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 800px;
}

/*Sección Skills*/

.skills {
    max-width: 1024px;
    margin: auto;
}

.skills__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.skills__line {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.skills__box {
    background-color: #fff;
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
}

.skills__box ul {
    padding-left: 25px;
}

.skills__img {
    margin-bottom: 16px;
}

/*Sección Hobbies*/

.hobbies {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 40px;
}

.hobbies__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.hobbies__line {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.hobbies__box {
    background-color: #fff;
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
}

.hobbies__img {
    margin-bottom: 16px;
}

.hobbies__box ul {
    padding-left: 25px;
}

/* Experiencia Académica*/

.academic {
    background-color: var(--cor-de-fondo-celeste);
    padding-top: 20px;
    padding-bottom: 50px;
}

.academic__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.academic__courses {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.academic__courses__box {
    width: 368px;
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-img {
    background-color: #fff;
    padding: 35px;
}

.academic__courses__list h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.academic__courses__list p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


/* experiencia*/

.experience {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.experience__box:last-child {
    flex-direction: row-reverse;
}

.experience__section__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    width: 100%;
    text-align: center;
}

.experience__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.experience__info-container {
    display: inline-block;
    width: 35%;
}

.experience__img {
    width: 600px;
}

.experience__title {
    font-weight: 700;
    font-size: 22px;
    font-weight: 26px;
}

.experience__text {
    font-weight: 500;
    font-size: 16px;
    list-style: 19px;
}

.experiencia__botao--repo {
    padding: 10px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
}

.experience__botao--demo {
    padding: 10px;
    color: #fff;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    width: 100px;
    margin-left: 20px;
}


/*Contacto*/

section.formcontato {
    background-color: var(--cor-de-fondo-celeste);
    padding: 50px;
}


.formcontato__contacto {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.formcontato__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.formcontato__subtext {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.formcontato__input {
    padding: 12px;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
}

.formcontato__textarea {
    padding: 12px;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    resize: none;
}

.formcontato__botao {
    padding: 15px;
    color: #fff;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    width: 150px;
}

/*footeer*/

section.footer {
    background-color: #fff;
    padding: 20px;
}


.footer__rodape p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 768px) {

    /* Menú */

    section.menu {
        max-width: 768px;
    }

    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        display: block;
        font-weight: bold;
    }


    /*title*/

    .title__div {
        max-width: 768px;
        padding: 10px;
    }

    .title__profile {
        width: 146px;
        height: 146px;
    }

    .title__bio {
        font-size: 22px;
        font-weight: 400;
        line-height: 25px;
    }

    .title__subsection {
        font-weight: 500;
        font-size: 16px;
    }

    /*abaut*/

    .about__container {
        max-width: 768px;
        margin-left: 40px;
    }

    .about__title {
        font-size: 22px;
    }

    .about__paragraph {
        font-size: 14px;
        max-width: 600px;
    }

    /*Skills*/

    .skills {
        max-width: 768px;
    }

    .skills__title {
        font-size: 22px;
    }

    .skills__line {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .skills__box {
        width: 224px;
    }

    /*Hobbies*/

    .hobbies {
        max-width: 768px;
    }

    .hobbies__title {
        font-size: 22px;
    }

    .hobbies__line {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .hobbies__box {
        width: 224px;
    }

    /*Formación Académica*/

    .academic__title {
        font-size: 22px;
    }

    .academic__courses {
        max-width: 768px;
    }

    .academic__courses__box {
        width: 224px;
    }

    .cont-img {
        padding: 35px;
        display: block;
    }

    .academic__courses__item__img img {
        width: 84px;
        height: 58px;
    }

    .academic__courses__list h4 {
        font-size: 16px;
    }

    .academic__courses__list p {
        font-size: 14px;
    }

    /*Experiencia Profesional*/

    .experience {
        max-width: 768px;
    }

    .experience__section__title {
        font-size: 22px;
    }

    .experience__box {
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .experience__img {
        width: 300px;
        margin: auto;
    }

    .experience__box:last-child {
        flex-direction: column;
    }

    .experience__title {
        font-size: 16px;
    }
    
    .experience__text {
        font-size: 14px;
    }

    .experience__info-container {
        width: 70%;
    }
 
    /*Contacto*/

    .formcontato__contacto {
        max-width: 768px;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 38px;
    }

    .formcontato__input {
        width: 95%;
    }
    
    .formcontato__textarea {
        width: 95%;
    }
}

/*Mobile*/
@media (max-width: 480px) {

    /*Menu*/

    section.menu {
        max-width: 480px;
    }

    .menu__list__item__contato {
        display: none;
    }

    /*Titulo*/

    .title__div {
        flex-direction: column;
        max-width: 480px;
        margin: auto;
        padding: 5px;
        align-items: baseline;
    }

    .title__bio {
        font-size: 22px;
    }
    
    .title__subsection {
        font-size: 14px;
    }

    .title__network__item {
        margin-right: 5px;
        font-size: 14px;
    }

    /*Sección sobre mi*/

    .about__container {
        max-width: 480px;
        margin: auto;
        padding: 10px;
    }

    .about__title {
        font-size: 22px;
    }
    
    .about__paragraph {
        font-size: 16px;
        max-width: 300px;
    }

    /*Skills*/

    .skills {
        max-width: 480px;
    }

    .skills__box {
        width: 300px;
    }

    /*Hobbies*/

    .hobbies {
        max-width: 480px;
    }


    .hobbies__box {
        width: 300px;
    }

    /*Formación Académica*/

    .academic__courses {
        max-width: 480px;
        flex-direction: column;
        align-items: center;
    }

    .academic__courses__box {
        width: 300px;
        margin: auto;
    }

    .cont-img {
        padding: 35px;
        display: block;
    }

    /*Experiencia Profesional*/

    .experience {
        max-width: 480px;
    }

    .experience__info-container {
        width: 60%;
    }

}